#topnavbar div.navbar-fixed-top {
  position: static;
}

div#dropdown-nav-menu {
  background-color: #727272;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 8px 8px;
}

div#nav-dropdown-button a.btn-navbar {
  float: left;
}

div#nav-dropdown-button .search-btn {
  //position: absolute;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 20px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/assets/search-white-32x32.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 16px;
}

.long {
  width: 90%;
  text-align:center;
}

#loading {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

#lightbox {
  //background-color: rgba(255, 255, 255, 0.93);
  background-color: #DDD;
  position: fixed;
  top: 15%;
  left:50%;
  margin-left: -150px;
  width: 300px;
  border-radius: 10px;
  z-index: 999;
}

#lightbox div#search {
  //margin: 40px auto;
  padding: 20px 40px 20px;
  //box-shadow: 0 3px 8px rgba(34, 25, 25, 0.4);
  //overflow: hidden;
  //z-index: 2;
}

div#search legend {
  padding-right: 10px;
}

div#search fieldset > div {
  float: left;
  margin-left: 20px;
}

div#search fieldset input {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

div#search fieldset label {
  font-size: 90%;
  display: inline;
}

div#search fieldset {
  border: 0;
  padding: 0;
}

#lightbox .close-x {
  position: absolute;
  top: 2px;
  right: 2px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/assets/close-white.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 16px;
}

#lightbox div.signin-title {
  margin-top: 10px;
  margin-left: 40px;
}

#lightbox form.signin {
  padding: 20px 40px 10px
}
