
.recipe-groups div.recipe-card{
  max-width: 280px;
  margin: 0 4px 4px 0;
  float: left;
}

div.recipe-card .name{
  max-width: 60%;
  height: 20px;
  display: block;
  float: left;
}

div.recipe-card .like{
  float: right;
}

.icon-heart-red {
  background-position: 0 0;
  background-image: url("/assets/heart-red.png");
  margin-right: 4px;
}