= simple_form_for(@recipe, :html => {:class => 'form-vertical', :multipart => true}) do |f|
  = f.error_notification

  %legend
    = f.input :name
    = f.hidden_field :restaurant_id, :value => @restaurant.id if @restaurant.present?
    = f.input :description, as: :string
    = f.input :category_list, as: :string, label: "Food categories/types", hint: 'Example : Italian, vegetarian ...'
    = f.input :alert_list, as: :string, label: "Food/Allergy alerts", hint: "Example : gluten, meat, ..."
    = f.input :taste_list, as: :string , label: "Dominating Food tastes", hint: 'Example : spicy, sour ...'

  = f.simple_fields_for :recipe_images do |builder|
    %legend
      = builder.label :caption, "Image Caption"
      = builder.text_field :caption
      = builder.label :photo, "Image File"
      = builder.file_field :photo
      - unless builder.object.new_record? 
        = image_tag builder.object.photo.url(:small)


  = f.button :submit
