%div.recipe-card
  %div.photo
    = link_to image_tag(recipe.recipe_images.first.photo.url(:medium)), recipe
    %div.overlay
    %div.photo-label
      = recipe.name
  %div.recipe-stats
    = render 'recipes/stats-for-restaurants', :recipe => recipe, :restaurant => @restaurant
    