
%div.likes
  %div{:id => "recipe-#{recipe.id}-liked"}
    - if user_signed_in? && current_user.liked?(recipe)
      = image_tag "thumb_up_icon_color.png", :class => "icon"
    - else
      = render 'recipes/like', :recipe => recipe

  %span.stat{:id => "recipe-#{recipe.id}-likes"}
    = #{recipe.likes.size}
%div.restaurant-card
  = link_to recipe.restaurant.name, recipe.restaurant    
%div.food-category
  %span
    = recipe.category_list.first if recipe.category_list.any?
%div.food-alert
  %span
    = recipe.alert_list.first if recipe.alert_list.any?
%div.food-taste
  %span
    = recipe.taste_list.first if recipe.taste_list.any?
%div.clearfix
