%h2 Listing recipes

%table.table
  %tr
    %th Name
    %th Image
    %th Image
    %th Image
    - if user_signed_in?
      %th
      %th

  - @recipes.each do |recipe|
    %tr
      %td= link_to recipe.name, recipe
      %td= image_tag recipe.recipe_images.first.photo.url(:small)
      %td
        - if recipe.recipe_images.second.present?
          = image_tag recipe.recipe_images.second.photo.url(:small)
      %td
        - if recipe.recipe_images.third.present?
          = image_tag recipe.recipe_images.third.photo.url(:small) 
      - if user_signed_in? && current_user == recipe.restaurant.user
        %td= link_to 'Edit', edit_recipe_path(recipe)
        %td= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }

%br

/! - if user_signed_in?
/!   = link_to 'New Recipe', new_recipe_path
