%div
  %h4 Recipes
= form_tag recipes_path, method: :get do
  .field
    = text_field_tag :search, params[:search]
    = submit_tag "Search", name: nil
%div.recipe-groups
  - @recipes.each do |recipe|
    = render "recipes/recipe-card", :recipe => recipe
