%p#notice= notice

%h4
  = @recipe.name

- if user_signed_in? && current_user == @recipe.restaurant.user
  %div
    = link_to 'Edit', edit_recipe_path(@recipe)

%p
  = link_to @recipe.restaurant.name, @recipe.restaurant

  - @recipe.recipe_images.each do |image|
    - if image.present?
      %div
        %div.photo
          = image_tag image.photo.url(:large) 


