- @user ||= current_user
%div.stats
  %table{ :summary => "User stats" }
    %tr
      %td
        = link_to following_user_path(@user) do
          %span.stat#following
            == #{@user.following.count} following
      %td
        = link_to followers_user_path(@user) do
          %span.stat#followers
            = pluralize(@user.followers.count, "follower")
