%h3 User
%div
  = image_tag @user.avatar.url(:thumb)
%p
  == #{@user.name}
%p
  == #{@user.email if @user.email}
%p
  = render 'users/follow_form'
  = render 'users/stats'
%p
%h3 Restaurants Liked

%p
%h3 Recipes Liked
%ul.liked_recipes
  %div.recipe-groups
    - @recipes.each do |recipe|
      = render "recipes/recipe-card", :recipe => recipe
  %div.clearfix
