%div.container-fluid
  %div.row-fluid
    %div.span4.well
      %div
        = image_tag @user.avatar.url(:medium)
      %p
        == #{@user.name}
      %p
        == #{@user.email if @user.email}
      = render 'users/stats'
    
    %div.span8.well
      %h4
        == #{@title}
      - if @users.any?
        - @users.each do |user|
          %div
            = image_tag user.avatar.url(:thumb)
            = link_to user.name, user