// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-groups-show{
}

.recipe-groups div.recipe-card{
  max-width: 280px;
  margin: 0 4px 4px 0;
  float: left;
}

.recipe-card div.photo{
  z-index: 1;
  padding-bottom: 2px;
  position: relative;
  max-height: 228px;
}

.recipe-card div.photo div{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 36px;

  overflow: hidden;
}

.recipe-card div.photo div.overlay{
  z-index: 2;
  background-color: #000;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.recipe-card div.photo div.photo-label{     
  z-index: 3;

  padding: 6px 6px;
  margin: 0;
  height: 18px;
  color: white;
  font-family: "Palatino";
  font-size: 19px;
  line-height: 140%;
  text-align: center;
}

.recipe-card div.recipe-stats{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;

  position: relative;
  margin: 10px 6px 10px;
}

.recipe-card form{
  margin: 0px;
}

.recipe-card .icon{
  width: 20px;
  padding: 2px;
}

.recipe-card .recipe-stats div.restaurant-card{
  font-size: 1.06em;
  text-shadow: 0 1px 0 #fff
}

.recipe-card .recipe-stats div.likes{
  float: left;

  div,span {
    float: left;
  }
}

.recipe-card .recipe-stats div.restaurant-card,div.food-category,div.food-alert,div.food-taste{
  float: left;
  margin-top: 4px;
  margin-left: 10px;
}
