// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.restaurant-property, div.restaurant-actions{
    display: block;
    margin-bottom: 8px;
    padding-bottom: 6px; 
    border-bottom: 1px solid rgb(221, 221, 221);    
}

ul.restaurant-stats{
    display: block;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin: 0 0 7px 0;
    padding: 6px 0 9px 0;
}

ul.restaurant-stats li{
    display: inline-block;
    list-style-type: none;
    min-width: 70px;
}
ul.restaurant-stats li strong{
    display: block;
    font-size: 28px;
    line-height: 1;
    font-weight: bold;
    color: #222;
}
