%h3 Latest Recipes
%div.recipe-groups
  - @recipes.each do |recipe|
    = render "recipes/recipe-card", :recipe => recipe
  %div.clearfix

%h3 Restaruants
- @restaurants.each do |restaurant|
  %p
    Restaurant: #{link_to restaurant.name, restaurant}
