%div.restaurant-actions
  - if user_signed_in? && current_user == @restaurant.user
    = link_to 'Edit', edit_restaurant_path(@restaurant)
    \|
    = link_to 'New Recipe', {:controller => "recipes", :action => "new", :restaurant_id => @restaurant.id}
    \|
  = link_to 'Back', restaurants_path