= simple_form_for(@restaurant, :html => {:class => 'form-vertical', :multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description, as: :string
    = f.input :country, as: :select, collection: ["CANADA","UNITED STATES"]
    = f.input :region, label: "Province/State"
    = f.input :address 
    = f.input :category



  .form-actions
    = f.button :submit
