%ul.restaurant-stats
  %li 
    %strong
      = @restaurant.recipes.count
    %span recipes
  %li
    %strong
      = @restaurant.recipes.count
    %span starred
  %li
    %strong
      = total_likes @restaurant.recipes 
    %span likes    
      = like_count @restaurant.recipes   
