%h1 Listing restaurants

= form_tag restaurants_path, method: :get do
  .field
    = text_field_tag :search, params[:search]
    = submit_tag "Search", name: nil
%table.table.table-striped
  %tr
    %th Name
    %th Location
    %th Category
    - if user_signed_in?
      %th
      %th

  - @restaurants.each do |restaurant|
    %tr
      %td= link_to restaurant.name, restaurant
      %td= restaurant.location
      %td= restaurant.category
      - if user_signed_in?
        %td= link_to 'Edit', edit_restaurant_path(restaurant)
        %td= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }

%br

- if user_signed_in?
  = link_to 'New Restaurant', new_restaurant_path
