%p#notice= notice
%div 
  = render "property"
  = render "stats"
  = render "actions"
  = gmaps4rails(@json)
%div.recipe-groups
  %ul
  - @restaurant.recipes.each do |recipe|
    %li
      = render "recipes/recipe-card-for-restaurant", :recipe => recipe
  %div.clearfix
= stylesheet_link_tag 'gmaps4rails'
