= link_to "Back", "#", :class => 'navigate-back'
= link_to "DigMenu", root_path, :class => 'brand'
%p mobile
%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method => 'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', admin_show_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
