!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "DigMenu mobile"
      %meta{:content => content_for?(:description) ? yield(:description) : "DigMenu", :name => "description"}
        = stylesheet_link_tag "application_mobile", :media => "all"
        = csrf_meta_tags
        = yield(:head)
      %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    = analytics_init :local => Rails.env.development?
  %body{:class => "#{controller_name} #{action_name}"}
    %header
      #topnav
    #main.container

    = javascript_include_tag "application_mobile"
    %script(type="text/javascript")
      - if user_signed_in?
        DigMenu.currentUser = new DigMenu.Models.User(#{current_user.to_json.html_safe})
        DigMenu.userSession = new DigMenu.Models.UserSession({"authentication_token": "#{current_user.authentication_token}"}) 
      DigMenu.start();
     
