%ul.nav.pull-right.wat-cf
    %li
      = link_to 'Restaurants', '/restaurants'
    %li
      = link_to 'Recipes', '/recipes'
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method => 'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', admin_show_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
