!!!
%html
  %head
    %title Web App
    = stylesheet_link_tag 'web_app_theme'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = analytics_init :local => Rails.env.development? 

  %body
    #container
      #header
        %h1
          %a{:href => "/"} DigMenu
        #user-navigation
          %ul.nav.pull-right.wat-cf
            %li
              = link_to 'Restaurants', '/restaurants'
            %li
              = link_to 'Recipes', '/recipes'
            %li
              |
            - if user_signed_in?
              %li
                = link_to 'Logout', destroy_user_session_path, :method => 'delete'
            - else
              %li
                = link_to 'Login', new_user_session_path
            - if user_signed_in?
              %li
                = link_to 'Profile', user_path(current_user)
              - if current_user.has_role? :admin
                %li
                  = link_to 'Admin', admin_show_path
            - else
              %li
                = link_to 'Sign up', new_user_registration_path
        #main-navigation
          %ul.wat-cf
    #main{:role => "main"}
      .container
        .content
          = render 'layouts/messages'
          = yield 
          = yield :scripts
          %div.clearfix
        %footer
      / ! end of .container
    / ! end of #main
